@use "sass:meta";
@use 'sass:color';

.alert {
  display: block;
  position: relative;
  word-wrap: break-word;
  word-break: break-word;
  padding: 0.75rem 1.25rem !important;
  margin-bottom: 1rem !important;

  > * {
    max-width: 100%;
  }

  > :first-child {
    margin-top: 0;
  }

  > :last-child {
    margin-bottom: 0;
  }

  &:before {
    content: unset !important;
  }
}

.alert + .alert {
  margin-top: -0.25rem !important;
}

.alert p {
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
}

.alert .title {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  font-weight: 600;
  margin: 0;
}

.icon {
  display: inline-block;
  width: 20px;
  height: 20px;
  background-repeat: no-repeat;
  margin-right: 0.5rem;
}

@function get-note-icon($color) {
  @return 'data:image/svg+xml,%3Csvg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24"%3E%3Cpath fill="#{$color}" d="M11 17h2v-6h-2zm1-8q.425 0 .713-.288T13 8t-.288-.712T12 7t-.712.288T11 8t.288.713T12 9m0 13q-2.075 0-3.9-.788t-3.175-2.137T2.788 15.9T2 12t.788-3.9t2.137-3.175T8.1 2.788T12 2t3.9.788t3.175 2.137T21.213 8.1T22 12t-.788 3.9t-2.137 3.175t-3.175 2.138T12 22m0-2q3.35 0 5.675-2.325T20 12t-2.325-5.675T12 4T6.325 6.325T4 12t2.325 5.675T12 20m0-8"/%3E%3C/svg%3E';
}

@function get-tip-icon($color) {
  @return 'data:image/svg+xml,%3Csvg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24"%3E%3Cpath fill="none" stroke="#{$color}" stroke-linecap="round" stroke-linejoin="round" stroke-width="1.5" d="M9 18h6m-5 3h4m-5-6c.001-2-.499-2.5-1.5-3.5S6.025 9.487 6 8c-.047-3.05 2-5 6-5c4.001 0 6.049 1.95 6 5c-.023 1.487-.5 2.5-1.5 3.5c-.999 1-1.499 1.5-1.5 3.5"/%3E%3C/svg%3E';
}

@function get-important-icon($color) {
  @return 'data:image/svg+xml,%3Csvg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 56 56"%3E%3Cpath fill="#{$color}" d="M16.586 52.246c1.172 0 1.969-.61 3.375-1.875l8.11-7.195h15.023c6.984 0 10.734-3.867 10.734-10.735V14.488c0-6.867-3.75-10.734-10.734-10.734H12.906c-6.96 0-10.734 3.844-10.734 10.734v17.953c0 6.891 3.773 10.735 10.734 10.735h1.125v6.093c0 1.805.938 2.977 2.555 2.977m.96-4.289V41.16c0-1.265-.468-1.758-1.757-1.758h-2.86c-4.757 0-6.984-2.414-6.984-6.984v-17.93c0-4.57 2.227-6.96 6.985-6.96h30.164c4.734 0 6.96 2.39 6.96 6.96v17.93c0 4.57-2.226 6.984-6.96 6.984H27.906c-1.289 0-1.968.188-2.86 1.102Zm10.618-19.758c1.125 0 1.781-.633 1.805-1.851l.328-12.375c.023-1.196-.914-2.086-2.156-2.086c-1.266 0-2.157.867-2.133 2.062l.328 12.399c.024 1.195.656 1.851 1.828 1.851m0 7.617c1.36 0 2.531-1.078 2.531-2.437c0-1.36-1.148-2.438-2.53-2.438c-1.384 0-2.532 1.102-2.532 2.438s1.172 2.437 2.531 2.437"/%3E%3C/svg%3E';
}

@function get-warning-icon($color) {
  @return 'data:image/svg+xml,%3Csvg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 56 56"%3E%3Cpath fill="#{$color}" d="M9.965 50.207h36.07c3.985 0 6.469-2.86 6.469-6.469c0-1.078-.281-2.18-.867-3.187L33.567 9.074c-1.22-2.133-3.352-3.281-5.555-3.281c-2.18 0-4.336 1.148-5.579 3.281l-18.07 31.5a6.25 6.25 0 0 0-.867 3.164c0 3.61 2.508 6.469 6.469 6.469m.047-3.68c-1.641 0-2.72-1.336-2.72-2.789c0-.422.071-.914.306-1.406l18.046-31.477c.516-.89 1.454-1.312 2.368-1.312s1.804.398 2.32 1.312l18.047 31.5c.234.47.351.961.351 1.383c0 1.453-1.125 2.79-2.742 2.79Zm18-12.117c1.125 0 1.78-.656 1.804-1.875l.328-12.351c.024-1.196-.914-2.086-2.156-2.086c-1.265 0-2.156.867-2.133 2.062l.305 12.375c.023 1.196.68 1.875 1.852 1.875m0 7.617c1.359 0 2.53-1.078 2.53-2.437c0-1.383-1.148-2.438-2.53-2.438c-1.383 0-2.532 1.078-2.532 2.438c0 1.336 1.172 2.437 2.532 2.437"/%3E%3C/svg%3E';
}

@function get-attention-icon($color) {
  @return 'data:image/svg+xml,%3Csvg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 56 56"%3E%3Cpath fill="#{$color}" d="M20.887 50.71h14.226c2.977 0 4.407-.96 5.93-2.624l8.625-9.563c1.547-1.71 1.945-2.836 1.945-5.156v-10.71c0-2.344-.398-3.446-1.945-5.157l-8.625-9.562c-1.523-1.665-2.953-2.649-5.93-2.649H20.887c-2.977 0-4.383.984-5.93 2.649L6.332 17.5c-1.547 1.71-1.945 2.813-1.945 5.156v10.711c0 2.32.398 3.446 1.945 5.156l8.625 9.563c1.547 1.664 2.953 2.625 5.93 2.625m1.265-3.75c-2.343 0-3-.515-4.312-1.921l-7.97-8.79c-.937-1.031-1.148-1.617-1.148-3.328v-9.82c0-1.711.21-2.297 1.148-3.329l7.969-8.789c1.312-1.43 1.969-1.921 4.312-1.921h11.696c2.343 0 3 .492 4.312 1.921l7.992 8.79c.914 1.03 1.126 1.617 1.126 3.328v9.82c0 1.71-.212 2.297-1.126 3.328l-7.992 8.789c-1.312 1.406-1.969 1.922-4.312 1.922Zm5.86-14.835c1.101 0 1.758-.633 1.78-1.852l.352-12.375c.024-1.195-.914-2.085-2.156-2.085c-1.265 0-2.156.867-2.133 2.062l.305 12.398c.023 1.196.68 1.852 1.852 1.852m0 7.617c1.336 0 2.508-1.078 2.508-2.437c0-1.36-1.149-2.438-2.508-2.438c-1.383 0-2.532 1.102-2.532 2.438s1.172 2.437 2.532 2.437"/%3E%3C/svg%3E';
}

// ####################################################
// ################## Style: Callout ##################
// ####################################################

@mixin callout-item($name, $color) {
  &.#{$name} {
    border-left-color: $color !important;

    .title {
      color: $color;
    }

    .icon-#{$name} {
      background-image: url("#{meta.call(meta.get-function(get-#{$name}-icon), $color)}");
    }
  }
}

.alert.callout {
  border: 1px solid #eee;
  border-left-width: 0.25rem;
  border-radius: 0.25rem;
  background: var(--background);

  @include callout-item('note', #17a2b8);
  @include callout-item('tip', #28a745);
  @include callout-item('important', #8250df);
  @include callout-item('warning', #f0ad4e);
  @include callout-item('attention', #dc3545);
}

// ####################################################
// #################### Style: Flat ###################
// ####################################################

@mixin flat-item($name, $background-color, $heading-color, $text-color) {
  &.#{$name} {
    color: $text-color;
    background-color: $background-color;
    border-color: color.scale($background-color, $lightness: -5%);

    .title {
      color: $heading-color;
    }

    .icon-#{$name} {
      background-image: url("#{meta.call(meta.get-function(get-#{$name}-icon), $heading-color)}");
    }
  }
}

.alert.flat {
  border: 1px solid #d6d8db;
  border-radius: 0.125rem;
  color: #383d41;
  background-color: #e2e3e5;

  @include flat-item('note', #cdeefd, #01354d, #02587f);
  @include flat-item('tip', #dbefdc, #18381a, #285b2a);
  @include flat-item('important', #D0CEDE, #8250df, #8250df);
  @include flat-item('warning', #ffddd3, #581e0c, #852d12);
  @include flat-item('attention', #fdd9d7, #551713, #7f231c);
}